{% extends 'izkartojums.html' %}

{% block saturs %}

{% if kluda != "" %}
    <div class="alert alert-danger">
        {{kluda}}
    </div>
{%endif%}

{% if ok == 1 %}
    <div class="alert alert-success">
        Autorizācija veiksmīga!
    </div>
{% endif %}

<form method="post">

<div class="mb-3">
    <label class="form-label">Lietotājvārds</label>
    <input type="text" name="username" class="form-control" aria-describedby="emailHelp">
</div>

<div class="mb-3">
    <label class="form-label">Parole</label>
    <input type="password" name="parole" class="form-control" aria-describedby="emailHelp">
</div>

<input type="submit" class="btn btn-success" name="autorizet" value="Autorizē">

</form>
{% endblock %}