{% extends 'izkartojums.html' %}

{% block saturs %}

<table class="table table-bordered">
    <tr>
        <td>1. stunda</td>
        <td>Vēsture un sociālas zinātnes I</td>
    </tr>
    <tr>
        <td>2. stunda</td>
        <td>Vēsture un sociālas zinātnes I</td>
    </tr>
    <tr>
        <td>3. stunda</td>
        <td>Programmēšana I</td>
    </tr>
    <tr>
        <td>4. stunda</td>
        <td>Programmēšana I</td>
    </tr>
    <tr>
        <td>5. stunda</td>
        <td>Matemātika I</td>
    </tr>
    <tr>
        <td>6. stunda</td>
        <td>Matemātika I</td>
    </tr>
    <tr>
        <td>7. stunda</td>
        <td>Peldēšana</td>
    </tr>
    <tr>
        <td>8. stunda</td>
        <td>Ķīmija I</td>
    </tr>
</table>

{% endblock %}