{% extends 'izkartojums.html' %}

{% block saturs %}

{% if kluda != "" %}
    <div class="alert alert-danger">
        {{kluda}}
    </div>
{%endif%}

<form method="post">

<div class="mb-3">
    <label class="form-label">Valsts</label>
    <input type="text" name="tomats" class="form-control" aria-describedby="emailHelp">
</div>

<input type="sumbit" class="btn btn-success" name="meklet" value="Meklēt">

</form>

<table>
    <tr>
        <th> Nosaukums </th>
    </tr>
    {% for uni in dati %}
        <tr>
            <td> {{ uni.name}} </td>
        </tr>
    {% endfor %}
</table>


{% endblock %}